body{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
}

#main{ width: 60%; margin: auto;}
#title{text-align:center;}
#nav-bar{width:100%; margin:auto; text-align: center;}
#description{text-align:center; }
img{float:left;}
#header {background-color: #633393; padding:15px; border-radius: 35px;}
h1,h2 {text-align: center;}
#updateinfo {width:25%; margin-left:20%;float:left; font-size: 1.3em;background-color: #B0B6BB; border-radius:25px; padding:10px}
#updateframe {font-size: 1.3em; float:right;margin-right:17%; width:33%;background-color: #B0B6BB; border-radius:25px;padding:10px}
h2{text-decoration: underline;}
#registerframe {font-size: 1.3em; width:35%; margin:auto;background-color: #B0B6BB; border-radius:25px;padding:10px}

.searchfunction {width: 50%;
  margin: auto;
  padding: 10px;
  text-align: center;}


.searchfilters {
  font-weight: bold;
    color:white;
    text-shadow: 2px 1px black;
    font-size: 1.4em;
}
.nav-link {color:black; padding-left:5px;  font-size: 1.3em;}
.nav-link:hover {color:red;}
.picture{float:left; padding:15px;}
.row{padding:10px;}
.column {float:left; width:30%; padding:10px; height:50px;}
.column.p {background-color:white;}
.row:after {content: ""; display: table; clear: both;}
.row2{background:#C0C0C0;}
.column1{float:left; width:30%; padding:10px; height:50px;}
.row2:after {content: ""; display: table; clear: both; padding:5px;}
.box1{border-style:solid; text-align:center;}
.box2{border-style:solid;}
.box3{border-style:solid;}
.footer{ font-weight:bold; background:#C9CED1; margin:auto; width:38%; font-size:1.5em; text-align: center;}
.infoheadings {
  text-align: center;
  text-decoration: underline;
}
.clear {clear:both;}
.labels {float:left; margin-left:10%;}
.textboxes {float:right;margin-right:10%; }


#rightdiv {
  font-size:1.5em;
  
  margin-right:25%;
  float:right;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #B0B6BB;
  }
}

table {
  
  width:90%;
  margin:auto;
  background-color: #B0B6BB;
  padding:25px;
  font-size: 1.2em;
  border-radius:25px;
}

td {
  text-align: center;
  padding-bottom:1em;
}

th {
  text-decoration: underline;
  padding-bottom:0.5em;
}

a {
  text-decoration: none;
}

#buttons {
  margin:auto;
  width:50%;
  text-align:center;
  padding : 15px;
  
}
#newbutton {
  width:40%;
  height:50px;
  border-radius: 5px;
  background-color: #42337E;
  border-color: #42337E;
  font-size: 1.2em;
  font-weight: bold;
  transition: 0.5s;
}
#newbutton:hover {
  background-color: #633393;
  border-color: #633393;
  border-radius: 100px;
  transition: 1s;
}

.tablelink:hover {
  color:red;
}
#UpdateBtn,#registerbtn {
  width: 100%;
  padding :10px;
  border-radius: 25px;
  border-color: #633393;
  background-color: #633393;
  font-size: 1.2em;
}
